{% extends "base.html.twig" %}


{% block content_wrapper %}
<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->    
        <div class="box box-default collapsed-box box-solid">
            <div class="box-header with-border" style="color:#2c3b41; background: white">

                <div class="col-md-2">
                    <strong>Localizador</strong><br>
                    <span style="color:darkred; font-weight: 700; font-size: 20px;">
                        {{ ctahuesped['ctabasicos'].ctahuesped_codigo }}  
                    </span><br>
                    {{ ctahuesped['ctagarantia'][0].garantiareservacion_estatus|raw }}
                </div>

                <div class="col-md-3">
                    <strong>Responsable:    </strong><br>
                    <span style="color:darkred; font-weight: 700; font-size: 16px;">
                        {{ ctahuesped['ctabasicos'].cliente_apellido }} {{ ctahuesped['ctabasicos'].cliente_nombre}} 
                </div>

                <div class="col-md-2" style="text-align: left">
                    <strong>Cargos</strong><br>
                    <span style="color:red; font-weight: 700; font-size: 24px;">  
                        {{ ctahuesped['ctabasicos'].ctahuesped_cargos }}
                    </span>
                </div>        


                <div class="col-md-1" style="text-align: right">
                    <strong>Impuestos</strong><br>
                    <span style="color:darkred; font-weight: 700; font-size: 18px;">              
                        {{ ctahuesped['ctabasicos'].ctahuesped_iva }}
                    </span>
                </div> 

                <div class="col-md-2" style="text-align: right">
                    <strong>Abono</strong><br>
                    <span style="color:green; font-weight: 700; font-size: 24px;">  
                        {{ ctahuesped['ctabasicos'].ctahuesped_abonos }}
                    </span>
                </div>   

                <div class="col-md-2" style="text-align: right">
                    <strong>Saldo deudor</strong><br>
                    <span style="color:blue; font-weight: 700; font-size: 24px;">   
                        {{ ctahuesped['ctabasicos'].ctahuesped_saldo }} 
                    </span>
                </div>                  


                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">

                <table class="table table-hover">
                    <tr>
                        <td style="text-align:left;"><strong> Nombre Cliente: </strong>{{ ctahuesped['ctabasicos'].cliente_apellido }} {{ ctahuesped.cliente_nombre}} </td>
                        <td style="text-align:left;"><strong> Número Documento: </strong>{{ ctahuesped['ctabasicos'].cliente_documento }} </td>      
                        <td style="text-align:left;"><strong> Nacionalidad: </strong>{{ ctahuesped['ctabasicos'].cliente_nacionalidad }}  </td> 
                        <td style="text-align:left;"><strong>Contacto </strong> {{ ctahuesped['ctabasicos'].cliente_correo }} / {{ ctahuesped.cliente_movil }}  </td>                               
                    </tr> 
                    <tr>
                        <td style="text-align:left;"><strong> Tipo Credito: </strong>{{ ctahuesped['ctabasicos'].ctahuesped_tipocredito }}  </td>
                        <td style="text-align:left;"><strong> Permiso:  </strong>{{ ctahuesped['ctabasicos'].ctahuesped_permiso }} </td>      
                        <td style="text-align:left;"><strong> Emisión: </strong>{{ ctahuesped['ctabasicos'].ctahuesped_registro }}  </td> 
                        <td style="text-align:left;"><strong>Observación: </strong> {{ ctahuesped['ctabasicos'].ctahuesped_observacion }} </td>                               
                    </tr>          

                    <tr>
                        <td style="text-align:left;"><strong>Titular TDC:</strong>  {{ ctahuesped['ctabasicos'].garantiareservacion_nombretitular }}  </td>          
                        <td style="text-align:left;"><strong>Número Documento:</strong> {{ ctahuesped['ctabasicos'].garantiareservacion_documentotitular }} </td>      
                        <td style="text-align:left;"><strong>Banco  Emisor TDC:</strong>  {{ ctahuesped['ctabasicos'].garantiareservacion_banco }}  </td>         
                        <td style="text-align:left;"><strong>Número Tarjeta:</strong>  {{ ctahuesped['ctabasicos'].garantiareservacion_numero }} </td>                              

                    </tr> 
                    <tr >

                        <td style="text-align:left;"><strong>Codigo seguridad TDC:</strong> {{ ctahuesped['ctabasicos'].garantiareservacion_codigo }}  </td> 
                        <td style="text-align:left;"><strong>Vencimiento TDC: </strong> {{ ctahuesped['ctabasicos'].garantiareservacion_vencimiento }} </td>   
                        <td style="text-align:left" colspan="2"><strong>Observación TDC: </strong> {{ ctahuesped['ctabasicos'].garantiareservacion_observacion }} </td>                               
                    </tr> 
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->

    </div><!--/.col (left) -->
    <div class="col-md-12" style="padding-bottom: 10px">



        <form role="form" name="formpago" method="POST" action="index.php">

            <div class="col-md-2">
                <button  value="true"  type="submit"  name="iratrasctahuesped" class="btn btn-block btn-success btn-xs " style="font-weight: 700">
                    <i class="fa fa-arrow-left"></i> IR ATRAS 
                </button>   
            </div>

        </form>
    </div>


    {%  if(dato.vista_cargarpagos)  %}
    <div class="row">
        <div class="col-md-12">


            <div class="box box-warning">
                <form role="form" name="formpago" method="POST" action="index.php">
                    <div class="box-body" style="font-weight: 700">
                        <div class="col-md-2" style="padding-bottom: 4px">
                           CONDICIÓN DE PAGO {{ combo.formapago|raw }}
                        </div>  
                        
                         <div class="col-md-3" style="padding-bottom: 4px">
                           PROFILE {{ combo.profiles|raw }}
                        </div>                         
                        
                        <div class="col-md-3" style="padding-bottom: 4px">
                            REFERENCIA <input name="numerotarjeta" type="text" class="form-control form-control2" placeholder=""> 
                        </div>  
                        <!--  <div class="col-md-2" style="padding-bottom: 4px">
                              N° Deposito / Transferencia <br>
                              <input name="referencia" type="text" class="form-control" placeholder="">
                          </div>  -->
                        <div class="col-md-2" style="padding-bottom: 4px">
                            MONTO <br>
                            <input name="monto" type="text" class="form-control form-control2" placeholder="">
                        </div>  
                        <!--  <div class="col-md-3" style="padding-bottom: 4px">
                              Descripción <br>
                              <input name="observacion" type="text" class="form-control" placeholder="">
                          </div>         -->
                        <div class="col-md-2" style="padding-bottom: 4px"><br>
                            <button  value="true"    name="cargarpagoctahuesped" class="btn btn-block btn-success  btn-xs" >
                                <i class="fa fa-dollar"></i>  CARGAR PAGO
                            </button>  
                        </div>        
                    </div>
                </form>
            </div>

        </div>
    </div>
    {% endif %}


    {%  if(dato.vista_anularpagos)  %}
    <div class="row">
        <div class="col-md-12">


            <div class="box box-warning">
                <form role="form" name="formpago" method="POST" action="index.php">
                    <div class="box-body">
                        <div class="col-md-4" style="padding-bottom: 4px">
                            <h2>Anulación de Pago </h2>
                            <span style="color:darkred; font-size: 17px; font-weight: 700">{{ detallepago.pago_tipopago }}     {{ detallepago.pago_numerotarjeta }}</span>  
                            <br>  <b> Emisión : {{ detallepago.pago_emision }} </b>
                            <h2>MONTO : {{ detallepago.pago_monto|number_format(2, ',', '.') }} Bs </h2>  
                        </div>
                        <div class="col-md-4" style="padding-bottom: 4px">
                            <b> Observación: </b><input name="observacion"  type="text" class="form-control" placeholder=""> 
                        </div>  

                        <div class="col-md-2" style="padding-bottom: 4px"><br>
                            <button  value="true"    name="anularpagoctahuesped" class="btn btn-block btn-danger " >
                                <i class="fa fa-close"></i>  Anular Pago
                            </button>  
                        </div> 

                        <div class="col-md-2" style="padding-bottom: 4px"><br>
                            <button  value="true"    name="registrarpagoctahuesped" class="btn btn-block btn-warning " >
                                <i class="fa fa-arrow-circle-left"></i>  Cancelar Anulación
                            </button>  
                        </div>  

                    </div>
                </form>
            </div>

        </div>
    </div>
    {%  endif   %}    


</div>

<div class="row">
    <div class="col-md-6">



        <div class="box box-success">

            <div class="box-body">

                <table id="example2" class="table table-bordered table-striped" style="font-size: 14px">
                    <thead>

                        <tr  >

                            <th style="width:60%">PRODUCTO / SERVICIO </th>
                            <!-- <th style="width:100px">ESTATUS</th>        -->                            
                            <th style="width:20%">ESTADIA</th> 
                            <th  style="width:20%" >COSTO</th>                          

                        </tr>

                    </thead>
                    <tbody>

                        {% for r in ctahuesped['ctacargos'] %}  
                        <tr>
                            <td>

                                <span style="font-weight: 700; font-size: 18px" > HAB  {{ r.detallereservacion_habitacion }}  </span>     {{ r.detallereservacion_servicio }}   </td>
                            <!--     <td>{{ reservacion.detallereservacion_estatusreserva }} </td>  -->
                            <td style="text-align:center;">{{ r.detallereservacion_dia }} </td>  
                            <td style="text-align: right; font-weight: 700; font-size: 18px">{{ r.detallereservacion_precio |number_format(0, ',', '.') }}</td>                        
                        </tr>

                        {% endfor %}
                    </tbody>

                </table>


                </form>
            </div><!-- /.box-body -->
        </div><!-- /.box -->



    </div>
    <div class="col-md-6">

        <div class="box box-success">

            <div class="box-body">
                <form role="form" name="formpago" method="POST" action="index.php">

                    <table id="example2" class="table table-bordered table-striped" style="font-size: 14px">
                        <thead>

                            <tr  >

                                <th style="width:50%">CONDICIÓN PAGO </th>
                                <!-- <th style="width:100px">ESTATUS</th>        -->                            
                                <th style="width:30%">EMISIÓN</th> 
                                <th  style="width:20%" >MONTO</th>                          

                            </tr>

                        </thead>
                        <tbody>

                            {% for a in ctahuesped['ctaabonos'] %} 
                            <tr>
                                <td><a href="?opcion=anularpago&codigo={{ a.pago_id }}" title="Anular Pago"><i class="fa fa-close text-danger"></i></a>
                                    {{ a.pago_observacion }}  {{ a.pago_tipopago }}<small>[ {{ a.pago_numerotarjeta }}  {{ a.pago_referencia }} ]</small></td>
                                <!--     <td>{{ reservacion.detallereservacion_estatusreserva }} </td>  -->
                                <td>{{ a.pago_emision }} </td>  
                                <td style="text-align: right">{{ a.pago_monto|number_format(2, ',', '.') }}</td>                        
                            </tr>

                            {% endfor %}
                        </tbody>

                    </table>


                </form>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>   <!-- /.row -->
{% endblock %}

{% block javascript %}


{% endblock %}







