{% extends "base.html.twig" %}


{% block content_wrapper %}
<section class="content-header">
    <h1>
        <i class="fa fa-th-large "></i>  Rack de Habitaciones 


    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio </a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row" style="display:none">
        <!-- left column -->
        <div class="col-md-2" style="margin-bottom: 5px; font-weight: bold">
            <i class="fa fa-calendar"></i> {{ dato.hoy }}
        </div>      
        <div class="col-md-10" style="margin-bottom: 5px;">
            <span class="badge bg-green" style="font-size: 13px" > Vacante Limpia: {{ resumen_amallaves.VL }} </span>    
            <span class="badge bg-blue" style="font-size: 13px"> Vacante Sucia: {{ resumen_amallaves.VS }} </span>          
            <span class="badge bg-yellow" style="font-size: 13px">Ocupada Limpia: {{ resumen_amallaves.OL }}</span>    
            <span class="badge bg-red" style="font-size: 13px">Ocupada Sucia: {{ resumen_amallaves.OS }} </span>      
            <span class="badge bg-gray" style="font-size: 13px" >Fuera de servicio: {{ resumen_amallaves.FS }}</span>        
        </div>
    </div>
    <div class="row">
        <!-- left column -->
        <div class="col-md-8">
            <div class="box box-warning">
                <div class="box-body  no-padding">

                    <table class="table " style="margin-left: 10px; margin-top: 10px">
                        {% for habitaciony in habitaciones %}
                        <tr>
                            {% for habitacion in habitaciony %}
                            <th style="padding: 2px; ">
                                <button onclick="test('{{ habitacion.habitacion_id }}')" class="btn btn-block btn-{{ habitacion.estadoocupacion_color }} btn-sm  "  style="margin: 0px; padding: 0px; width: 90%" >
                                    <strong>  
                                        {{ habitacion.habitacion_categoria }} 
                                        <br>
                                        <span style="font-size: 13px">{{ habitacion.habitacion_nombre }}</span>  
                                        <b> {{ habitacion.validacionocupacion_icono|raw }}   {{ habitacion.supervision_icono|raw }} </b>

                                    </strong> 
                                </button>
                            </th>                                    
                            {% endfor %}  

                        </tr> 
                        {% endfor %}  
                    </table>     
                </div>       
                <!-- /.box-body -->
            </div><!-- /.box -->          
        </div><!--/.col (left) -->
        <div class="col-md-4">        

            <div class="box box-success" style="border: none; padding: 10px">
                <div  class="box-body table-responsive no-padding" style="font-weight: 600;  background: #F5F5F5">
                    <div class="col-md-2"><span class="badge bg-green" style="font-size: 15px;" >VL {{ resumen_amallaves.VL }} </span>    </div>                   

                    <div class="col-md-2"><span class="badge bg-blue" style="font-size: 15px;" >VS {{ resumen_amallaves.VS }} </span>    </div>                   
                    <div class="col-md-2"><span class="badge bg-yellow" style="font-size: 15px;">OL {{ resumen_amallaves.OL }}</span> </div>
                    <div class="col-md-2"><span class="badge bg-red"  style="font-size: 15px;" >OS {{ resumen_amallaves.OS }} </span></div>
                    <div class="col-md-2"><span class="badge bg-gray" style="font-size: 15px;" >FS {{ resumen_amallaves.FS }}</span>    </div>
                </div>  
            </div>       

            <div class="box box-success" style="border: none; padding: 10px; margin-top: 5px">
                <div  class="box-body table-responsive no-padding" style="font-weight: 600; background: #F5F5F5">

                    <div class="col-md-6" style="padding-bottom: 3px"> <span class="badge bg-blue" >  {{ resumen_reservaciones.reservaciones_hoy }} </span>  Reservaciones    </div>                      
                    <div class="col-md-6" style="padding-bottom: 3px"> <span class="badge bg-green" > {{ resumen_reservaciones.checkin_hoy }} </span>  Check In      </div>       
                    <div class="col-md-6" style="padding-bottom: 3px"> <span class="badge bg-yellow" > {{ resumen_reservaciones.checkout_hoy }} </span>  Check Out      </div>    
                    <div class="col-md-6" style="padding-bottom: 3px"> <span class="badge bg-red" > {{ resumen_reservaciones.VL }} </span>  Imprevistos      </div>    



                </div>  
            </div>       

            <div class="box box-success">
                <div id="visor" class="box-body table-responsive no-padding">
                </div>       
            </div><!-- /.box -->            
        </div><!--/.col (left) -->          
    </div>   <!-- /.row -->
</div>
</section><!-- /.content -->


{% endblock %}

{% block javascript %}


<script src="lsdAjax.js"></script>  

<script>

function test(val) {
    accion_lsd('test', [val], 'visor');
}

</script>

{% endblock %}







