{% extends "base.html.twig" %}


{% block content_wrapper %}


<section class="content-header">
    <h1>
        Modulo de Reservación
        <small>Preview</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->

            <div class="box box-primary">
                <!-- form start -->
                <form role="form" name="formhuesped" method="POST" action="index.php">
                    <input type="hidden" name="reservacion_busqueda_huesped" value="true" >
                    <div class="box-body">
                        <div class="col-md-2">
                            <button type="submit"  class="btn btn-warning "> <i class="fa fa-search"></i> <i class="fa fa-user"></i> Verificar Huesped</button>                 

                        </div>
                        <div class="col-md-2">
                            <div class="form-group" >
                                <input type="text" id="numero_documento"  name="numero_documento" value="{{ huesped.documento }}" 
                                       onchange="documento();
                                               conexion();
                                               formhuesped1();
                                       " id="documento1" class="form-control " placeholder="Cedula o Pasaporte">
                            </div>
                        </div>   

                        <div class="col-md-2">
                            <span class="label label-{{ huesped.color }}" style="font-size: 10px">{{ huesped.mensaje|raw }}</span>  
                        </div>                         
                        <div class="col-md-1">
                            <div id="div01"></div>
                        </div>


                        <div class="col-md-5">
                            <input onclick="registro_huesped();" class=" form-control btn btn-success  btn-xs" style="font-weight: 700" value="EFECTUAR RESERVACIÓN ">
                        </div>   


                    </div><!-- /.box -->
                </form>

                <!-- Form Element sizes -->


                <form role="form"  name="registro" id="registro" method="POST" action="index.php"> 
                    <input type="hidden" name="reservacion01" value="true" > 
                    <input type="hidden" name="documento" value="{{ huesped.documento }}"  id="documento2" class="form-control" >  
                    <input type="hidden" name="cliente_id" value="{{ huesped.id }}" > 





                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs pull-left">

                            <li class="active"  ><a href="#tab_4-4" data-toggle="tab"><strong>Datos Generales</strong></a></li>
                            <li  ><a href="#tab_1-1" data-toggle="tab"><strong>Calculo de Tarifas </strong></a></li>                            

                        </ul><br><br><br>

                        <div class="tab-content" style="padding: 5px">
                            <div class="tab-pane  " id="tab_1-1" style="height:400px; border-color: white" >

                                <div class="col-md-12" id="tabla_tarifa">
                                    {{ tablatarifa|raw }}
                                </div><!--/.col (right) -->

                            </div><!-- /.tab-pane -->




                            <div class="tab-pane active " id="tab_4-4" style="height:400px; border-color: white" >


                                <div class="col-xs-2">
                                    <div class="form-group" >
                                        <label class="control-label control-label2"  >Llegada</label>
                                        <input readonly="readonly" name=""  value="{{ prereservaciones[0].reservacion_desde }} " type="text" class="form-control form-control2"  >
                                    </div>
                                </div>             


                                <div class="col-xs-2">
                                    <div class="form-group" >
                                        <label class="control-label control-label2"  >Salida</label>
                                        <input readonly="readonly" name=""  value="{{ prereservaciones[0].reservacion_hasta }}" type="text" class="form-control form-control2"  >
                                    </div>
                                </div>



                                <div class="col-xs-2">
                                    <div class="form-group" >
                                        <label class="control-label control-label2"  >Noches</label>
                                        <input readonly="readonly"  value="{{ dato.noches }}" type="text" class="form-control form-control2"  >
                                    </div>
                                </div>  
                                <!--
                               
                                                               <div class="col-xs-1">
                                                                   <div class="form-group" >
                                                                       <label class="control-label control-label2" >Adultos</label>
                                                                       <input  name="" value="0"  type="text" class="form-control form-control2"  >
                                                                   </div> 
                                                               </div>
                               
                                                              
                                                               <div class="col-xs-1">
                                                                   <div class="form-group" >
                                                                       <label class="control-label control-label2" >Niño</label>
                                                                       <input  name="" value="1"  type="text" class="form-control form-control2"  >
                                                                   </div> 
                                                               </div>
                               
                                -->
                                <div class="col-xs-2">
                                    <div class="form-group" >
                                        <label class="control-label control-label2" >Reservada Por </label>
                                        <input  name="contacto"  value=""  type="text" class="form-control form-control2"  >
                                    </div>
                                </div> 

                                <div class="col-xs-2">
                                    <div class="form-group" >
                                        <label class="control-label control-label2" >Telf  Email  Contacto </label>
                                        <input  name="contactoinfo" value=""  type="text" class="form-control form-control2"  >
                                    </div>
                                </div>               



                                <div class="col-xs-2">
                                    <div class="form-group" >
                                        <label class="control-label control-label2" >Medio de Reserva</label>
                                        <input id="medioreservacion" name="medioreservacion"  type="text" class="form-control form-control2" placeholder="">
                                    </div>
                                </div>

                                <div class="col-xs-12 top01" style="border-bottom: 2px #c5c5c5 solid; margin-bottom: 10px"  >                 

                                </div>  

                                <div class="col-xs-2">
                                    <div class="form-group" >
                                        <label class="control-label control-label2" >ID Titular TDC</label>
                                        <input id="documento_titular" value="{{ dato.documento_titular }}" name="documento_titular" type="text" class="form-control form-control2" placeholder="Tarjeta Credito">
                                    </div>
                                </div>   


                                <div class="col-xs-2">
                                    <div class="form-group" >
                                        <label class="control-label control-label2" >Nombre Titular TDC</label>
                                        <input  name="nombre_titular" type="text" class="form-control form-control2" placeholder="Tarjeta Credito">
                                    </div>
                                </div>

                                <div class="col-xs-2">
                                    <div class="form-group" >
                                        <label class="control-label control-label2" >Banco Emisor TDC</label>
                                        <input id="banco" name="banco"  type="text" class="form-control form-control2" placeholder="Tarjeta Credito">
                                    </div>
                                </div>




                                <div class="col-xs-2">
                                    <div class="form-group" >
                                        <label class="control-label control-label2" >Vence</label>
                                        <input id="vencimiento" name="vencimiento" type="text" class="form-control form-control2" placeholder="MM/AA">
                                    </div>
                                </div>




                                <div class="col-xs-2">
                                    <div class="form-group" >
                                        <label class="control-label control-label2" > TDC N°</label>
                                        <input id="numero" name="numero"  type="text" class="form-control form-control2" placeholder="Tarjeta Credito">
                                    </div>
                                </div>                 

                                <div class="col-xs-2">
                                    <div class="form-group" >
                                        <label class="control-label control-label2" >COD TDC</label>
                                        <input id="codigo" name="codigo"  type="text" class="form-control form-control2" placeholder="Tarjeta Credito">
                                    </div>
                                </div>






                                <div class="col-xs-12 top01" style="border-bottom: 2px #c5c5c5 solid; margin-bottom: 10px"  >                 

                                </div>                



                                <div class="col-xs-2">
                                    <div class="form-group" >
                                        <label class="control-label control-label2"  >C.I / Passport </label>
                                        <input name="documentoid"  id="documentoid" value="{{ dato.documento_titular }} " type="text" class="form-control form-control2"  >
                                    </div>
                                </div>             


                                <div class="col-xs-2">
                                    <div class="form-group" >
                                        <label class="control-label control-label2"  >Nombres</label>
                                        <input name="nombre" id="nombre"  value="{{ huesped.nombre }}" type="text" class="form-control form-control2"  >
                                    </div>
                                </div>

                                <div class="col-xs-2">
                                    <div class="form-group" >
                                        <label class="control-label control-label2" >Apellidos</label>
                                        <input name="apellido"  id="apellido" value="{{ huesped.apellido }}" type="text" class="form-control form-control2"  >
                                    </div>

                                </div>  


                                <div class="col-xs-2">
                                    <div class="form-group" >
                                        <label class="control-label control-label2"  >Nacionalidad</label>
                                        <input id="nacionalidad"  name="nacionalidad" value="{{ huesped.nacionalidad }}" type="text" class="form-control form-control2"  >
                                    </div>
                                </div>  

                                <div class="col-xs-2">
                                    <div class="form-group" >
                                        <label class="control-label control-label2"  >Idioma</label>
                                        <input id="idioma" name="idioma"  value="{{ huesped.idioma }}" type="text" class="form-control form-control2"  >
                                    </div>
                                </div>

                                <div class="col-xs-2">
                                    <div class="form-group" >
                                        <label class="control-label control-label2"  >Pais</label>
                                        <input id='pais' name="pais"  value="{{ huesped.pais }}" type="text" class="form-control form-control2"  >
                                    </div>
                                </div>

                                <div class="col-xs-2">
                                    <div class="form-group" >
                                        <label class="control-label control-label2"  >VIP</label>
                                        <input id="vip" name="vip"  value="{{ huesped.vip }}" type="text" class="form-control form-control2"  >
                                    </div>
                                </div>  

                                <div class="col-xs-2">
                                    <div class="form-group" >
                                        <label class="control-label control-label2" >Email</label>
                                        <input   name="correo" value="{{ huesped.correo }}"  type="text" class="form-control form-control2"  >
                                    </div> 
                                </div>


                                <div class="col-xs-2">
                                    <div class="form-group" >
                                        <label class="control-label control-label2" >Teléfono</label>
                                        <input  name="telefono" value="{{ huesped.telefono }} {{ huesped.movil }}"  type="text" class="form-control form-control2"  >
                                    </div>
                                </div> 

                                <div class="col-xs-2">
                                    <div class="form-group" >
                                        <label class="control-label control-label2"  >Ciudad</label>
                                        <input name="ciudad"  value="{{ huesped.ciudad }}" type="text" class="form-control form-control2"  >
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="form-group" >
                                        <label class="control-label control-label2">Dirección</label>
                                        <input  name="direccion" value="{{ huesped.direccion }}" type="text"  class="form-control form-control2"  >
                                    </div>
                                </div> 




                                <div class="col-md-4">
                                    <div class="form-group" >
                                        <label class="control-label control-label2" >Nombre empresa</label>
                                        <input  name="nombre_empresa" type="text" class="form-control form-control2" placeholder="">
                                    </div>

                                </div>
                                <div class="col-md-2">
                                    <div class="form-group" >
                                        <label class="control-label control-label2" >RIF Empresa</label>
                                        <input name="rif_empresa" type="text" class="form-control form-control2" placeholder="">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group" >
                                        <label class="control-label control-label2" >Dirección Empresa</label>
                                        <input name="direccion_empresa" type="text" class="form-control form-control2" placeholder="">
                                    </div>
                                </div>  





                            </div><!-- /.tab-pane -->                   



                            <div class="tab-pane" id="tab_3-2"  style="height:100px; border-color: white" >


                            </div><!-- /.tab-pane -->
                        </div><!-- /.tab-content -->
                    </div><!-- nav-tabs-custom -->  

                </form>
            </div><!--/.col (left) -->
            <!-- right column -->
        </div>

    </div>   <!-- /.row -->
</section><!-- /.content -->


{% endblock %}

{% block javascript %}

<script src="lsdAjax.js"></script>  
<script src="autocompletado.js"></script>  
<script>

                                function combo(id, cantidad) {
                                    accion_lsd('combo', [id, cantidad], 'tabla_tarifa');
                                }

                                function combotarifa(id, dato) {

                                    accion_lsd('combotarifa', [id, dato], 'tabla_tarifa');
                                }

                                function editar(id) {
                                    accion_lsd('editartarifa', [id], 'cambiotarifa');
                                }


                                function aplicarcambio() {
                                    accion_lsd('editartarifa01', [$('#valornuevo').val(), $('#motivonuevo').val()], 'tabla_tarifa');
                                }
</script>

<script type="text/javascript">
    var file = "reservacion01";
    $('#idioma').val("ESPAÑOL");
    $('#pais').val("VENEZUELA");
    $('#vip').val("NORMAL");
    $('#nacionalidad').val("VENEZOLANO");




    $("#medioreservacion").click(function() {
        $('#medioreservacion').val("W");
    });
    $('#codigo').inputmask("999"); //static mask
    $('#vencimiento').inputmask("99/99"); //static mask
    $('#numero').inputmask("9999-9999-9999-9999"); //static mask

    function conexion() {
        $('#documento_titular').val($('#numero_documento').val());
    }

    function documento() {
        $('#documento2').val($('#documento1').val());
    }


    function registro_huesped() {

        if (!(($('#nombre').val() == "") || ($('#apellido').val() == "") || ($('#documentoid').val() == ""))) {


            if (confirm("¿Seguro que desee proceder a registrar la reservación ? ")) {
                document.registro.submit();
            }


        } else {
            alert("Verifique los datos \n *  Nombre - Apellidos - C.I / Passport  ");
        }



    }

    function formhuesped1() {
        document.formhuesped.submit();
    }

</script>



{% endblock %}







